*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* font-family: Consolas, monospace, 'Courier New'; */
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*定义整个滚动条高宽及背景：高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  background-color: #e4dcdc;
}

/*定义滚动条轨道：内阴影+圆角*/
::-webkit-scrollbar-track {
  background-color: #e4dcdc;
}

/*定义滑块：内阴影+圆角*/
::-webkit-scrollbar-thumb {
  background-color: #555;
}

/* 覆盖 el 样式 */
body {
  --el-color-error: #d9534f;
  --el-color-success: #5cb85c;
  --el-color-warning: #ec971f;
  --el-color-info: #49b1a3;
}